Source: simulavr-oseid
Section: electronics
Priority: optional
Maintainer: Peter Popovec <popovec.peter@gmail.com>
Build-Depends: debhelper (>= 5), libncurses5-dev
Standards-Version: 3.7.2
Homepage: https://github.com/popovec/oseid-simulavr

Package: simulavr-oseid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Atmel AVR simulator
 simulavr simulates the Atmel AVR family of micro-controllers,
 emulates a gdb remote target, and displays register and memory
 information in real time.
